.author {
    font-size: 14px;
}

.quote {
    font-size: 16px;
}

.gif-container {
    width: 500px;
    height: 500px;
}

.h1-profile {
    font-size: 100px;
}

.user-data-profile {
    font-size: 16px;
}